{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/recipe/my_recipe.css' %}">
{% endblock %}

{% block title %}マイレシピ{% endblock %}

{% block content %}
<div id="setting-overlays" class="hide">
    <div id="setting-background"></div>
    <div id="setting-window">
        <iframe src=""></iframe>
        <button id="setting-close-button" onclick="HideSetting()" tabindex="-1">
            <img src="{% static 'images/recipe/close.svg' %}" alt="close">
        </button>
        <img src="{% static 'images/recipe/loop.gif' %}" alt="" class="loading">
    </div>
</div>
<div class="titles">
    {% if not deleted %}
    <h1>マイレシピ</h1>
    <a href="{% url 'recipeApp:create' %}" class="btn btn-primary new">新規</a>
    {% else %}
    <h1>削除したレシピ</h1>
    {% endif %}
</div>
<ul>
    {% for recipe in recipies %}
    <li class="rounded">
        <a href="{% url 'recipeApp:edit' %}?id={{recipe.recipe_code}}" class="py-2 px-3" type="link">
            <div class="thumbnail">
                <img src="{{ recipe.recipe_image.url }}" alt="">
            </div>
            <div>
                <h2>{{ recipe.title }}</h2>
                <p class="trans">レシピコード: {{ recipe.recipe_code }}</p>
            </div>
            <div id="datetime_data" class="ms-auto d-flex flex-column">
                <p class="m-0 mt-auto trans">作成日: {{ recipe.created_at }}</p>
                <p class="m-0 trans">更新日: {{ recipe.updated_at }}</p>
            </div>
        </a>
        <a class="my-auto p-1 full-trans mx-2 rounded c-pointer more-button" onclick="ShowDropdown(this, `{{recipe.recipe_code}}`)">
            <img src="{% static 'images/recipe/more_horiz.svg' %}" alt="more" class="pe-none">
        </a>
    </li>
    {% endfor %}
</ul>
{% if not deleted %}
<a id="show-deleted" href="{% url 'recipeApp:deleted' %}">
    <img src="{% static 'images/recipe/delete.svg' %}" alt="trash">
    <span>削除したコンテンツ</span>
</a>
{% else %}
<a id="show-deleted" href="{% url 'recipeApp:my-recipe' %}">
    <span>マイレシピ</span>
</a>
{% endif %}

<div id="custom-context-menu" class="dropdown-menu pe-none" style="display: block; opacity: 0; top: 0;">
    {% if not deleted %}
    <!-- <a class="dropdown-item c-pointer" tabindex="-1">名称を変更</a> -->
    <a class="dropdown-item c-pointer" tabindex="-1" href="" id="edit-button">編集</a>
    <a class="dropdown-item c-pointer" tabindex="-1" id="copy-button">リンクをコピー</a>
    <hr class="my-1">
    <a class="dropdown-item c-pointer" tabindex="-1" id="setting-button">設定</a>
    <hr class="my-1">
    <a class="dropdown-item c-pointer text-danger" tabindex="-1" id="delete-button">削除</a>
    {% else %}
    <a class="dropdown-item c-pointer" tabindex="-1" id="delete-button">復元する</a>
    {% endif %}
</div>

<script>
    const triggerButtons = document.querySelectorAll(".more-button");
    const contextMenu = document.getElementById("custom-context-menu");

    copy_url = "";
    function ShowDropdown(currentButton, recipe_code) {
        event.preventDefault();

        redirect_url = `{% url 'recipeApp:edit' %}?id=${recipe_code}`;
        copy_url = `{% url 'recipeApp:show' %}?id=${recipe_code}`;
        delete_url  = `{% url 'recipeApp:delete' %}?id=${recipe_code}&next=` + `{% if deleted %}{% url 'recipeApp:deleted' %}{% else %}{% url 'recipeApp:my-recipe' %}{% endif %}`;

        // thisを使用してクリックされたボタンの位置を取得
        const rect = currentButton.getBoundingClientRect();
        const menuRect = contextMenu.getBoundingClientRect();
        contextMenu.style.left = `${rect.right-menuRect.width}px`;
        contextMenu.style.top = `${rect.bottom + window.scrollY}px`;

        // ボタンを有効化
        contextMenu.querySelectorAll("a").forEach(element => {
            element.setAttribute("tabindex", "");
        });
        contextMenu.className = "dropdown-menu";
        // リンクを設定
        "{% if not deleted %}"
        document.querySelector("#edit-button").href = redirect_url;
        document.querySelector("#setting-button").setAttribute("onclick", `ShowSetting('${recipe_code}')`);
        "{% endif %}"
        document.querySelector("#copy-button").onclick = CopyLink;
        document.querySelector("#delete-button").href = delete_url;
        // メニューを表示
        contextMenu.style.opacity = "1";
    }

    function HideDropdown() {
        // ボタンを無効化
        contextMenu.querySelectorAll("a").forEach(element => {
            element.setAttribute("tabindex", "-1");
        });
        contextMenu.className = "dropdown-menu pe-none";
        // メニューを非表示
        contextMenu.style.opacity = "0";
    }

    // メニュー外をクリックしたときに非表示にする
    document.addEventListener("click", function (event) {
        if (!contextMenu.contains(event.target) && !event.target.classList.contains("more-button")) {
            HideDropdown();
        }
    });

    function CopyLink() {
        navigator.clipboard.writeText(copy_url);
        HideDropdown();
    }

    setting_overlays = document.getElementById("setting-overlays");
    setting_close_button = document.getElementById("setting-close-button");
    iframe = document.querySelector("#setting-window iframe");
    function ShowSetting(recipe_code) {
        HideDropdown();
        iframe.setAttribute("src", `{% url 'recipeApp:setting' %}?id=${recipe_code}`);
        setting_overlays.className = "show";
        setting_close_button.setAttribute("tabindex", "");
    }

    function HideSetting() {
        setting_overlays.className = "hide";
        iframe.setAttribute("src", ``);
        setting_close_button.setAttribute("tabindex", "-1");
    }
</script>
{% endblock %}